


body{
  background-color: #997878;

  display: flex;
  justify-content: center;
}

.App{
  display: grid;
  /* border: 1px solid white; */
  width: 20vw;
  place-content: center;
  


}
nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
form {
  /* border: 1px solid white; */
  margin-top: 10rem;
  color: aliceblue;

}
input{
  width: 40vw;
  height: 30px;
  border-radius: 15px;
  border: 5px solid rgb(21, 181, 119);
}

input.input-error,
select.input-error {
  border-color: #fc8181;
}

button {
  width: 34vw;
  height: 30px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: red;
  margin-top: 15px;

}

button:disabled{
  opacity: 0.34;
}