


body{
  background-color: #734a4a;

  display: flex;
  justify-content: center;
}

.App{
  display: grid;
  /* border: 1px solid white; */
  width: 20vw;
  place-content: center;
  


}
nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
form {
  /* border: 1px solid white; */
  margin-top: 10rem;
  color: aliceblue;

}