


body{
  background-color: #734a4a;

  display: flex;
  justify-content: center;
}

.App{
  display: flex;
  /* border: 1px solid white; */
  width: 20vw;

}
nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}